{% extends 'base.html.twig' %}

{% block title %}Ton compte{% endblock %}

{% block body %}
    <h1>Bienvenue Yvette dans ton compte</h1>

    <br>Depuis cet espace, tu peux
    <ul>
        <a href="{{ path('compte_mdp') }}"><li>changer ton mot de passe</li></a>
        <a href="{{ path('admin') }}"><li>éditer les actualités et les avis, voir les messages et les prises de rendez-vous</li></a>
    </ul>

{% endblock %}
