{% extends 'base.html.twig' %}

{% block title %}Les séances au cabinet{% endblock %}

{% block body %}
    <h1>Les séances au cabinet</h1>
    <p>Mon cabinet de Poissy est l’unique pièce d’une petite maison au milieu d’un grand jardin arboré. Y venir est déjà une parenthèse dans notre vie trépidante et une invitation à la quiétude.
        J’y reçois enfants, adolescents et adultes.
        Ils viennent individuellement ou par petits groupes (jusqu’à 7 personnes).
        J’organise des stages. Si vous voulez participer à un prochain stage, venez voir la page « Actualités »
        LIEN Actualités

        Les séances individuelles durent environ 1h30. ???
        Le tarif est de …€.

        LIEN Que faisons-nous ensemble ?
        LIEN Nous envoyer un message
        LIEN Prendre RDV
    </p>
{% endblock %}
