{% extends 'base.html.twig' %}

{% block title %}Les séances au cabinet{% endblock %}

{% block body %}
    <h1>Les séances au cabinet</h1>
    <p>Mon cabinet de Poissy est l’unique pièce d’une petite maison au milieu d’un grand jardin arboré. Y venir est déjà une parenthèse dans notre vie trépidante et une invitation à la quiétude.<br>
        J’y reçois enfants, adolescents et adultes.<br>
        Ils viennent individuellement ou par petits groupes (jusqu’à 7 personnes).<br>
        J’organise des stages. Si vous voulez participer à un prochain stage, venez voir la page « Actualités »<br>
    <div><a href="{{ path('actualites') }}"><button>Actualités</button></a></div><br>

        Les séances individuelles durent environ 1h30. ??? <br>
        Le tarif est de …€. <br>
    <br>
    <div><a href="{{ path('que') }}"><button>Que faisons-nous ensemble ?</button></a></div>
    <div><a href="{{ path('home') }}"><button>Nous envoyer un message</button></a></div>
    <div><a href="{{ path('home') }}"><button>Prendre rendez-vous</button></a></div>
    </p>
{% endblock %}
