{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>Cabinet Étincelle-Vittoz<br>
        6 bis Enclos de l’abbaye<br>
        78300 Poissy<br><br>

        Téléphone 07 86 15 91 84<br><br>
    </p>


    <div><a href="{{ path('home') }}"><button>Nous envoyer un message</button></a></div><br>

{% endblock %}