{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>
    <p>Cabinet Étincelle-Vittoz
        6 bis Enclos de l’abbaye
        78300 Poissy

        Téléphone 07 86 15 91 84


        LIEN Nous envoyer un message
    </p>
{% endblock %}
