{% extends 'base.html.twig' %}

{% block title %}Les séances à l'école{% endblock %}

{% block body %}
    <h1>Les séances à l'école</h1>
    <p>Je me rends au cœur même des écoles et y propose des séances tournées vers l’attention et la concentration. Avec des exercices simples et ludiques, les enfants trouvent en eux les ressources dont ils ont besoin pour leur épanouissement et leur réussite.
        Je fais ce travail en partenariat avec les enseignants. Je suis à leur service pour préparer ces interventions.
        Par ailleurs, je peux les recevoir et les aider pour qu’ils se sentent au mieux dans leur rôle de pédagogue.

        Formules ? Durée ?
        Tarif d’une intervention :  …€   ?


        Je suis déjà intervenue dans ces établissements :
        -	IND Poissy
        -	Montessori
        -	CFA Sainte Catherine
        -	CFA AFIPE

        LIEN Que faisons-nous ensemble ?
        LIEN Nous envoyer un message
        LIEN Prendre RDV

    </p>
{% endblock %}
