{% extends 'base.html.twig' %}

{% block title %}Les séances en entreprise{% endblock %}

{% block body %}
    <h1>Les séances en entreprise</h1>
    <h2>Pourquoi proposer la méthode Vittoz en entreprise ?</h2>
    <p>L'entreprise est une structure de plus en plus compliquée, à l'image du monde d'aujourd'hui. Nous passons tous une grande partie de notre existence dans le cadre de notre lieu de travail.
        Tout d'abord, il faut constater que l'entreprise est constituée d'un tissu humain essentiel à sa propre survie. L'entreprise est fondamentalement un lieu d'échanges. Échanges des savoirs, de créativité, échanges humains, échanges économiques.
        Le monde de l'entreprise aujourd'hui doit répondre à des attentes spécifiques. La réactivité de réponse à la demande doit être souvent très rapide, presque instantanée. Les équipes se font et se refont rapidement, les tâches se diversifient et se multiplient. Cela génère des tensions qui se répercutent sur plusieurs services au sein de la même entreprise.
        La gestion des tensions est parfois difficile, les émotions prennent une grande place, les personnes peuvent sentir une pression qu'elles ne comprennent pas, elles peuvent aussi douter de leurs capacités. Le fonctionnement des équipes au sein du service, voire de l'entreprise, peut se voir affecté par un sentiment d'impuissance face à ce qui est demandé. Ce malaise se répercute directement sur la vie de famille et en société.
        Qu’apporte la méthode Vittoz ?
        La méthode Vittoz ne prétend pas changer les rythmes de travail, ni les contraintes, ni les personnalités qui nous posent problème.
        La méthode Vittoz apporte à la personne qui la pratique la sérénité de celui qui retrouve ses racines profondes dans l'expérience consciente du geste le plus simple qui existe : la respiration.
        La souplesse et l'énergie qui sont générées par l'expérience de l'acte conscient facilitent la capacité d'adaptation de la personne face à des situations conflictuelles ou à des moments d'intense activité. Les acteurs de l'entreprise apprennent à gérer leur temps, leurs priorités, leurs besoins.
        Qu’est-ce que je propose ?
        Je propose des parcours sur mesure pour des groupes de 10 à 12 personnes.
        Je travaille particulièrement la relaxation et l’attention.
        Précédentes expériences

        -	PSA (quel service ?)
        -	Société Générale

        Formules ???
        Tarifs ???

        LIEN Nous envoyer un message
        LIEN Prendre RDV

    </p>
{% endblock %}
