{% extends 'base.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block body %}
    <h1>Exercices</h1>
    <p>J’ai un exercice avec les batonnets. Pourrait-il y en avoir d’autres ?
    </p>
{% endblock %}
