{% extends 'base.html.twig' %}

{% block title %}Que faisons-nous ensemble ?{% endblock %}

{% block body %}
    <h1>Que faisons-nous ensemble ?</h1>
    <p>Nous travaillons en séances individuelles ou collectives.
        Notre travail a pour but d’améliorer la maîtrise cérébrale pour une meilleure conscience au monde et l’intégration harmonieuse de nos perceptions, nos émotions, nos pensées, nos décisions, nos gestes. Cela passe par des exercices simples sur le corps et nos sens.

        Il y aura des temps de

        -	relaxation
        -	« conscience au monde »
        -	décompression
        -	concentration
        -	écoute
        -	échanges
        -	dessin
        -	écriture
        -	mémoire



        Vous trouverez sur notre site des exemples de jeux que vous pouvez pratiquer chez vous en attendant de venir me voir.


        LIEN Jeux

        L’approche est évidemment bien différente selon les publics et le contexte.
        J’exerce la méthode Vittoz à mon cabinet Étincelle-Vittoz de Poissy, mais aussi en me rendant dans les écoles ou dans les entreprises.

    </p>
{% endblock %}
