{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
    <h1>Qui suis-je ?</h1>
    <h2>Yvette Ogier</h2>
    <p> J’ai fait des études en ressources humaines et me suis spécialisée pour former des formateurs. La transmission a
        toujours été ma passion !<br>
        La découverte de la méthode Vittoz fut pour moi une révélation. J’ai tout de suite été sensible au bien-être
        qu’elle apportait. J’ai décidé de devenir thérapeute certifiée Vittoz I.R.D.C. (Institut de Recherche et de
        Développement du contrôle Cérébral). Pour cela, j’ai suivi une formation de … ans dans le centre de …<br>
        Depuis, j’accueille des enfants, des adolescents et des adultes à mon cabinet Étincelle-Vittoz de Poissy. Ils
        viennent travailler soit en petits groupes, soit individuellement. <br>
        J’interviens aussi dans les écoles ou en
        entreprises.
    </p>
    <div><a href="{{ path('que') }}"><button>Que faisons-nous ensemble ?</button></a></div>
{% endblock %}