{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
        <h1>Qui suis-je ?</h1>
        <h2>Yvette Ogier</h2>
        <div class="ligne1">
            <div class="colonne1">
                <div class="sous-colonne">
                    <br><br>
                    <p> Diplômée d'un Master 2 de Ressources Humaines, spécialisation "formation" à Dauphine, le dialogue et les outils de développement du bien-être des personnes m’habitent et j’aime les transmettre.
                        <br><br>
                        La <b>méthode Vittoz</b> éclaire ma pratique d’accompagnement par le travail sur les trois dimensions (Cœur, Corps, Cerveau). Elle apporte des outils concrets pour trouver des ressources en soi pour se sentir bien.
                        <br><br>
                        <b>Thérapeute certifiée Vittoz I.R.D.C. </b>(Institut de Recherche et de Développement du contrôle Cérébral), affiliée FF2P (Fédération Française de Psychothérapie et Psychanalyse), je travaille en réseau et en co-vision  pour mieux accompagner les individus dans leurs difficultés ou problématiques.
                        <br><br>
                        J’accueille des enfants, des adolescents et des adultes à mon cabinet  <em>Étincelle-Vittoz </em>de Poissy. Ils viennent soit en petits groupes, soit individuellement.
                        <br><br>
                        J’interviens dans les écoles et en entreprises.
                        <br><br>
                        La joie est une des émotions que j’aime partager en séance.
                    </p>
                    </p><br><br>
                    <div class="boutons">
                        <a href="{{ path('que') }}">
                            <button class="button4">Que faisons-nous ensemble ?</button>
                        </a><br>
                    </div>
                    <br>
                    <div class="boutons">
                        <a href="https://www.vittoz-irdc.net/" target="_blank">
                            <button class="button5">Lien vers le site de l'IRDC</button>
                        </a><br>
                    </div>
                </div>
            </div>
            <div class="colonne2">
                <img class="image-contenu" src="{{ asset('assets/img/Yvette_presente.webp') }}"
                     alt="Yvette Ogier devant son cabinet">
            </div>
        </div>
{% endblock %}