{% extends 'base.html.twig' %}

{% block title %}La Méthode Vittoz{% endblock %}

{% block body %}
    <h1>La Méthode Vittoz</h1>
    <p>La méthode Vittoz, rééducation psychosensorielle, implique la répétition d’exercices pour une appropriation
        progressive grâce à l’aide d’un thérapeute.<br>
        Ces exercices simples, faciles à intégrer dans la vie quotidienne, réhabilitent les perceptions sensorielles
        pour développer la présence à soi, à l’environnement et à l’autre.<br>

        Elle exerce la maîtrise cérébrale (conscience de ses pensées, de ses comportements automatiques…). L’utilisation
        de la sensation consciente permet d’arrêter la rumination mentale ou la dispersion, et de vivre simplement le
        présent.<br>

        Elle mobilise la sensation de soi, le plaisir de se sentir un être vivant, une sensation plus intense de son
        identité parce qu’enracinée dans le moi corporel senti, conscient, d’où un accueil plus tranquille de ses
        émotions, une adaptation plus aisée au réel reçu plus objectivement. Elle ouvre le sujet à une véritable qualité
        relationnelle tant avec lui-même qu’avec son environnement et les autres.<br>
        <br>
        Ses étapes<br>
    <ol>
        <li>Rétablir la réceptivité : contact / état de présence.</li>
        <li>Pratiquer des actes conscients : vivre ici et maintenant / agir et être dans l’instant présent.</li>
        <li>Contrôle de l’émissivité : développer sa concentration, son attention, sa capacité de mémorisation.</li>
        <li>Redécouvrir et rééduquer sa volonté : exister librement.</li>
        <li>Accueillir ses émotions : les émotions sont importantes dans notre vie, elles nous informent sur notre vécu
            intérieur face aux stimuli de l’environnement, surtout relationnels. Il s’agit de les accueillir, d’y
            consentir sans se laisser influencer par les pensées ou les ressentis qu’elles suscitent. Revenir à
            l’instant présent, à ce qui se passe maintenant, permet de traverser ces moments douloureux… Accueillir,
            consentir à ce qui EST : permet une réelle détente pour agir. La répétition de ces exercices permet, avec
            l’entraînement, un changement du fonctionnement cérébral (cf. neurosciences) : nous allons donc échapper aux
            comportements automatiques, et ainsi trouver une créativité renouvelée pour une vie plus en lien avec les
            autres et notre propre rêve… Alors nous dénouons nos entraves psychiques vers une liberté et responsabilité
            ajustée aux faits de notre histoire et de la vie…
        </li>
        <li>Expérimenter la relaxation psychosensorielle : s’accueillir dans sa globalité.</li>
    </ol>

    La Méthode Vittoz offre un ensemble d’exercices ayant toujours une portée thérapeutique, quel que soit le niveau de la demande du patient.
    Face à un mal-être ponctuel ou latent, à des épreuves de la vie difficiles à assumer seul, les exercices Vittoz, dans un premier temps, permettent la reprise en main de son contrôle cérébral, de reprendre souffle et d’assumer la réalité avec une juste distance.
    Tous ces exercices répétés et répétés, visent l’unification de la personne, le contact avec elle-même, avec l’extérieur et les autres ; ils constituent une expérience de soi positive et simple qui redonne accès au plaisir de se sentir vivant. En ce sens, ils constituent un véritable art de vivre.
    <br>
    Et quand, à partir de ces mêmes exercices, l’accent est mis sur l’écho qu’ils provoquent dans l’inconscient, la relation thérapeutique permet que ces apprentissages deviennent l’occasion d’une vraie rencontre psychothérapeutique avec soi-même, occasion de se relier à son histoire et de se réconcilier avec soi-même.
    <br>
    On peut alors classer la méthode Vittoz dans les thérapies à médiation corporelle, avec cette spécificité que la conscience du corps y est d’abord utilisée à son niveau le plus simple pour enraciner le sentiment d’exister comme un tout unifié, et avec cette insistance, particulière au Vittoz, sur la sensation qui, en effet, est seule à rendre au moi la conscience de la réalité présente.
    <br>
    Le Vittoz est une psychothérapie structurante, qui vise la sécurité intérieure du patient, son adaptation naturelle, l’accroissement de son énergie et de son sentiment de contrôle sur sa vie actuelle. Elle nous montre à quel point nous sommes des êtres reliés et que la présence des autres est aussi structurante, source d’épanouissement et d’engagement.
    <br>
    Elle appartient au courant des thérapies humanistes, d’orientation résolument phénoménologique, c’est-à-dire axée sur l’expérience, sur l’adhésion à l’instant présent dans sa globalité.
    <br>
    <hr>
    Jean-Philippe Lachaux a actualisé et développé les travaux de Roger Vittoz.
    Il est directeur de recherche à l'INSERM, au sein du Centre de recherche en neurosciences de Lyon.
    Il anime un groupe dédié à la compréhension des mécanismes cérébraux des grandes fonctions cognitives humaines.
    Il tient un blog sur ce thème : www.lecerveauattentif.fr ainsi qu'un site web en anglais, BrainTV, présentant ses recherches et quelques films illustrant la réaction du cerveau face à une distraction (sonnerie de téléphone par exemple) ou lorsqu'il se concentre.
    <br>

    Voici quelques-uns de ses ouvrages qui pourraient vous intéresser :<br>
    <ul>
        <li>Les petites bulles de l’attention</li>
        <li>Le Cerveau attentif</li>
        <li>La Magie de la concentration</li>
        <li>Le Cerveau funambule</li>
        <li>L’attention, ça s’apprend</li>
    </ul>
    </p>
{% endblock %}
