<footer>
<div class="footer_container">
    <div class="footer1">
        CONTACTEZ-MOI <br><br>
        Envoyer-moi un message <br><br>
        y.ogier@etincelle-vittoz.fr <br><br>
        07 86 15 91 84 <br><br>
        Prendre rendez-vous
    </div>
    <div class="footer2">
        VENEZ À MON CABINET <br><br>
        6 bis, enclos de l'Abbaye <br><br>
        78300 Poissy
    </div>
    <div class="footer3">
        SUIVEZ-MOI <br><br>
        Actualités <br><br>
        Facebook
    </div>
</div>
</footer>