<footer>
    <div class="footer_container">
        <div class="footer1">
            CONTACTEZ-MOI <br><br>
            <a href="{{ path('message') }}">Envoyer un message</a><br><br>
            <a href="mailto:y.ogier@etincelle-vittoz.fr">y.ogier@etincelle-vittoz.fr</a><br><br>
            <a href="tel:+3378615984">07 86 15 91 84</a> <br><br>
            <a href="{{ path('rdv') }}">Prendre rendez-vous</a>
        </div>
        <div class="footer2">
            VENEZ À MON CABINET <br><br>
            <a href="{{ path('contact') }}">6 bis, enclos de l'Abbaye <br>
                78300 Poissy</a>
        </div>
        <div class="footer3">
            SUIVEZ-MOI <br><br>
            <a href="{{ path('actualites') }}">Actualités</a><br><br>
            Facebook
        </div>
    </div>
</footer>